apiVersion: apps/v1
kind: Deployment
metadata:
  name: bloodbank-app
  labels:
    app: bloodbank
spec:
  replicas: 2
  selector:
    matchLabels:
      app: bloodbank
  template:
    metadata:
      labels:
        app: bloodbank
    spec:
      containers:
        - name: bloodbank-container
          image: bharadvajnanepalli/python-flask-blood-bank:latest
          ports:
            - containerPort: 5000
          env:
            - name: FLASK_ENV
              value: "production"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"